.tree {
  max-width: 400px;
}

.tree__section {
  &_current {
    background: #f0f0f0;
  }
}

.tree__title {
  position: relative;
  display: block;
  padding: 6px;
  padding-left: 20px;
  color: #343434;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;

  user-select: none;

  &_foldable {
    &::before {
      position: absolute;
      top: 10px;
      left: 0;
      display: inline-block;
      width: 18px;
      height: 10px;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik03LjguNjVhLjI3LjI3IDAgMCAwLS4wOC0uMThsLS40LS40QS4yNS4yNSAwIDAgMCA3LjE2IDBhLjI3LjI3IDAgMCAwLS4xOC4wOEwzLjkgMy4xNS44My4wOEEuMjcuMjcgMCAwIDAgLjY1IDBhLjI3LjI3IDAgMCAwLS4xOC4wOGwtLjQuMzlBLjI3LjI3IDAgMCAwIDAgLjY1QzAgLjcuMDMuNzguMDguODNsMy42NCAzLjY0Yy4wNS4wNS4xMi4wOC4xOC4wOHMuMTMtLjAzLjE4LS4wOEw3LjcyLjgzQS4yNy4yNyAwIDAgMCA3LjguNjV6IiBmaWxsPSIjMzQzNDM0IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=");
      background-position: center;
      background-size: 8px;
      background-repeat: no-repeat;
      content: "";
      transition: transform 0.3s ease-in-out;
    }
  }

  &_unfolded {
    &::before {
      transform: rotate(0.5turn);
    }
  }

  &_active {
    letter-spacing: -0.3px;
    font-weight: 500;
  }

  &_level0 {
    padding-left: 20px;

    &::before {
      left: 0px;
    }
  }

  &_level1 {
    padding-left: 40px;

    &::before {
      left: 20px;
    }
  }

  &_level2 {
    padding-left: 60px;

    &::before {
      left: 40px;
    }
  }

  &_level3 {
    padding-left: 80px;

    &::before {
      left: 60px;
    }
  }
}

.tree__anchor {
  display: block;

  &:last-child {
    padding-bottom: 6px;
  }
}
