@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("https://resources.jetbrains.com/storage/help-app/v2/fonts/open-sans-latin-400.woff2")
    format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: "Open Sans";
  src: url("https://resources.jetbrains.com/storage/help-app/v2/fonts/open-sans-latin-600.woff2")
    format("woff2");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
}

.toc-wrapper {
  overflow-y: scroll;
  padding-top: 40px;
  width: 300px;
  height: 100vh;
  background: #fafafa;
}
